apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 066380524960.dkr.ecr.eu-north-1.amazonaws.com/fullstack-repo:backend
        env:
        - name: DB_HOST
          value: mysql
        - name: DB_USER
          value: root
        - name: DB_PASS
          value: root
        - name: DB_NAME
          value: mydb
        - name: DB_PORT
          value: "3306"
        ports:
        - containerPort: 5000
